[submodule "Neugraf2"]
	path = Neugraf2
	url = https://github.com/rolapfi02/Neugraf2.git
[submodule "Profil"]
	path = Profil
	url = https://github.com/rolapfi02/Profil.git
[submodule "CMDF4LIB"]
	path = CMDF4LIB
	url = https://github.com/rolapfi02/CMDF4LIB.git
[submodule "CICommandLib"]
	path = CICommandLib
	url = https://github.com/rolapfi02/CICommandLib.git
[submodule "CalculatorLibary"]
	path = CalculatorLibary
	url = https://github.com/rolapfi02/CalculatorLibary.git
[submodule "Interpreter"]
	path = Interpreter
	url = https://github.com/rolapfi02/Interpreter.git
